@font-face {
	font-family: "Gilroy";
	src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/web/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/web/gilroylight.woff2") format("woff2"),
		 url("../fonts/web/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
body {
	position: relative;

	min-width: 1360px;
	padding: 40px 0 0 0;
	margin: 0 auto;
}
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}
@-webkit-keyframes buttonBackgroundMoving {
0% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%); 
	background-image: linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%); }
20% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(35%, transparent), color-stop(35%, #f0c52e), color-stop(65%, #f0c52e), color-stop(65%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 35%, #f0c52e 35%, #f0c52e 65%, transparent 65%, transparent 100%);
	background-image: linear-gradient(transparent 0%, transparent 35%, #f0c52e 35%, #f0c52e 65%, transparent 65%, transparent 100%);	}
40% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, transparent), color-stop(25%, #f0c52e), color-stop(70%, #f0c52e), color-stop(70%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 25%, #f0c52e 25%, #f0c52e 70%, transparent 70%, transparent 100%); 
	background-image: linear-gradient(transparent 0%, transparent 25%, #f0c52e 25%, #f0c52e 70%, transparent 70%, transparent 100%);	}
80% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, transparent), color-stop(15%, #f0c52e), color-stop(85%, #f0c52e), color-stop(85%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 15%, #f0c52e 15%, #f0c52e 85%, transparent 85%, transparent 100%); 
	background-image: linear-gradient(transparent 0%, transparent 15%, #f0c52e 15%, #f0c52e 85%, transparent 85%, transparent 100%);	}
100% { background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c52e), color-stop(40%, #f0c52e), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, #f0c52e), to(#f0c52e)); 
	background-image: -webkit-linear-gradient(#f0c52e 0%, #f0c52e 40%, #f0c52e 40%, #f0c52e 60%, #f0c52e 60%, #f0c52e 100%); 
	background-image: linear-gradient(#f0c52e 0%, #f0c52e 40%, #f0c52e 40%, #f0c52e 60%, #f0c52e 60%, #f0c52e 100%); }
}
@keyframes buttonBackgroundMoving {
0% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%); 
	background-image: -o-linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%); 
	background-image: linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%); }
20% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(35%, transparent), color-stop(35%, #f0c52e), color-stop(65%, #f0c52e), color-stop(65%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 35%, #f0c52e 35%, #f0c52e 65%, transparent 65%, transparent 100%); 
	background-image: -o-linear-gradient(transparent 0%, transparent 35%, #f0c52e 35%, #f0c52e 65%, transparent 65%, transparent 100%); 
	background-image: linear-gradient(transparent 0%, transparent 35%, #f0c52e 35%, #f0c52e 65%, transparent 65%, transparent 100%);	}
40% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, transparent), color-stop(25%, #f0c52e), color-stop(70%, #f0c52e), color-stop(70%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 25%, #f0c52e 25%, #f0c52e 70%, transparent 70%, transparent 100%); 
	background-image: -o-linear-gradient(transparent 0%, transparent 25%, #f0c52e 25%, #f0c52e 70%, transparent 70%, transparent 100%); 
	background-image: linear-gradient(transparent 0%, transparent 25%, #f0c52e 25%, #f0c52e 70%, transparent 70%, transparent 100%);	}
80% { background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, transparent), color-stop(15%, #f0c52e), color-stop(85%, #f0c52e), color-stop(85%, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(transparent 0%, transparent 15%, #f0c52e 15%, #f0c52e 85%, transparent 85%, transparent 100%); 
	background-image: -o-linear-gradient(transparent 0%, transparent 15%, #f0c52e 15%, #f0c52e 85%, transparent 85%, transparent 100%); 
	background-image: linear-gradient(transparent 0%, transparent 15%, #f0c52e 15%, #f0c52e 85%, transparent 85%, transparent 100%);	}
100% { background-image: -webkit-gradient(linear, left top, left bottom, from(#f0c52e), color-stop(40%, #f0c52e), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, #f0c52e), to(#f0c52e)); 
	background-image: -webkit-linear-gradient(#f0c52e 0%, #f0c52e 40%, #f0c52e 40%, #f0c52e 60%, #f0c52e 60%, #f0c52e 100%); 
	background-image: -o-linear-gradient(#f0c52e 0%, #f0c52e 40%, #f0c52e 40%, #f0c52e 60%, #f0c52e 60%, #f0c52e 100%); 
	background-image: linear-gradient(#f0c52e 0%, #f0c52e 40%, #f0c52e 40%, #f0c52e 60%, #f0c52e 60%, #f0c52e 100%); }
}
.button {
	display: inline-block;
	background-color: transparent;
	background-image: -webkit-linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
	background-image: -o-linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e),color-stop(60%, transparent), to(transparent));
	background-image: -webkit-linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%,transparent 60%, transparent 100%);
	background-image: -o-linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%,transparent 60%, transparent 100%);
	background-image: linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%,transparent 60%, transparent 100%);
	padding: 10px 5px;
	border: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	letter-spacing: 3.6px;
	text-align: center;
	
	cursor: pointer;
	outline: none;
}
	.button:hover,
	.button:focus {
		-webkit-animation-name: buttonBackgroundMoving;
		        animation-name: buttonBackgroundMoving;
		-webkit-animation-fill-mode: both;
		        animation-fill-mode: both;
		-webkit-animation-duration: 150ms;
		        animation-duration: 150ms;
	}
	.button:active {
		color: rgba(0, 0, 0, 0.3);
	}
.page-title {
	margin: 0;
	margin-bottom: 24px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	color: #000;
    letter-spacing: 0.47px;
}
.centering-wrap {
	width: 1160px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
main .centering-wrap {
	padding-left: 60px;
}

/* Хэдер */

.main-header {
	position: relative;

	min-height: 300px;
	padding: 0 59px;
	margin-bottom: 480px;
	background-color: rgba(240, 197, 46, 0.5);
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.logo {
	position: absolute;
	top: -20px;

	display: block;

	font-size: 0;
}
	.logo:hover,
	.logo:focus {
		opacity: 0.6;
	}
	.logo:active {
		opacity: 0.3;
	}
.main-header-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 500px;
}
	.main-header-column + .main-header-column {
		margin-left: 40px;
	}
.search-and-user-links-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-top: 34px;
	margin-bottom: 30px;
}
.search-form {
	position: relative;

	min-width: 440px;
	font-size: 0;
}
.search-icon {
	position: absolute;
	left: 2px;
	top: 50%;

	margin-top: -8px;
}
.search-field {
	width: 355px;
	padding: 6px 0 4px 40px;
	margin: 0;
	border: 0;
	border-bottom: 2px solid transparent;
	background-color: transparent;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	color: #000;

	outline: none;
}
.search-field::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.search-field::-moz-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.search-field:-moz-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.search-field:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
	.search-field:focus {
		border-bottom: 2px solid #000;
	}
		.search-field:focus::-webkit-input-placeholder {
			color: transparent;
		}
		.search-field:focus::-moz-placeholder {
			color: transparent;
		}
		.search-field:focus:-moz-placeholder {
			color: transparent;
		}
		.search-field:focus:-ms-input-placeholder {
			color: transparent;
		}
	.search-field:hover::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.6);
	}
		.search-field:hover::-moz-placeholder {
			color: rgba(0, 0, 0, 0.6);
		}
		.search-field:hover:-moz-placeholder {
			color: rgba(0, 0, 0, 0.6);
		}
		.search-field:hover:-ms-input-placeholder {
			color: rgba(0, 0, 0, 0.6);
		} 	
.search-submit {
	display: none;
	padding: 4px 19px;
	border: 2px solid #000;
	background-color: transparent;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;

	outline: none;
	cursor: pointer;
}
.search-field:focus + .search-submit {
	display: inline-block;
}
	.search-submit:hover,
	.search-submit:focus {
		background-color: #000;
		color: #fff;
	}
	.search-submit:active {
		display: inline-block;
		color: rgba(255, 255, 255, 0.3);
	}
.user-link-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #000;
	letter-spacing: 0.15px;
}
.user-nav-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-width: 225px;
	margin: 0;
	margin-right: auto;
}
	
.user-nav-link,
.user-link {
	position: relative;

	padding-left: 28px;

	font: inherit;
	color: #000;
	text-decoration: none;
}
	.user-nav-link:hover,
	.user-link:hover,
	.user-nav-link:focus,
	.user-link:focus {
		opacity: 0.6;
	}
	.user-nav-link:active,
	.user-link:active {
		opacity: 0.3;
	}
	.user-link + .user-link {	
		margin-left: 33px;
	}
.login-icon {
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 0;
}
.logout {
    padding-left: 14px;
    color: rgba(0, 0, 0, 0.3);
}
.compare-icon {
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 7px;
}
.cart-icon {
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 5px;
}
.main-navigation-list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
    margin-bottom: 50px;
	padding: 0;

	list-style: none;
}
.main-navigation-item {
	margin-right: 35px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 3.5px;
	text-transform: uppercase;
}
	.main-navigation-item:last-child {
		margin-right: 0;
		margin-left: auto;
	}
.main-nav-link {
	position: relative;

	font: inherit;
	color: #000;
	text-decoration: none;
}
	.main-nav-link:hover,
	.main-nav-link:focus {
		color: rgba(0, 0, 0, 0.6);
	}
	.main-nav-link:active {
		color: rgba(0, 0, 0, 0.3);
	}
.drop-down-menu {
	position: absolute;
	top: 20px;
	left: -60px;

	display: none;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 1160px;
	min-height: 168px;
	margin: 0;
	padding: 0;
	padding: 25px 60px;
	background-color: #f7e296;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	list-style: none;
	z-index: 10;
}	
	.drop-down-menu:hover {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
.main-nav-link.catalog-link::after {
	position: absolute;
    top: 3px;
    right: -30px;

	content: "";
	width: 16px;
	height: 16px;
	background-image: url("../img/plus.png");

	opacity: 0.3;
}
.main-nav-link.catalog-link:hover + .drop-down-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.main-nav-link {
	margin-right: 36px;
}
	.main-nav-link:last-child {
		margin-right: 0;
		margin-left: auto;
	}
.drop-down-menu-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	min-width: 200px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
	.drop-down-menu-column:nth-child(5n + 1) {
		width: 240px;
	}
	.drop-down-menu-column:nth-child(n + 6) {
		margin-top: 20px;
	}
.drop-down-link {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	text-transform: none;
	letter-spacing: normal;
	text-decoration: none;
	color: #000;
}
	.drop-down-link:hover,
	.drop-down-link:focus {
		color: rgba(0, 0, 0, 0.6);
	}
	.drop-down-link:active {
		color: rgba(0, 0, 0, 0.3);
	}

/* Слайдер с товарами */

.slider-wrap {
	position: absolute;
	top: 230px;
}
.slider-controls-overlay {
	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;
}
.slider-controls {
	position: absolute;
	right: 65px;
	top: 323px;

	z-index: 2;
}
.slider-controls button {
	width: 12px;
	height: 12px;
	padding: 0;
	margin-right: 17px;
	background-color: transparent;
	background-image: url("../img/slider-button-empty.svg");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 0;

	cursor: pointer;
	outline: none;
}
.slider-controls button.active {
	background-image: url("../img/slider-button-active.svg");
}
.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider-item {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	min-height: 485px;
}
	.slider-item::after {
		position: absolute;
		right: 48px;
		top: -17px;

		content: attr(data-number);

		font-family: "Gilroy", "Arial", sans-serif;
		font-size: 179.2px;
		line-height: 179.2px;
		font-weight: 800;
		color: #ffffff;
	}
.slider-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 560px;
	margin-right: 40px;
}
.slider-item-text {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 560px;
	padding-top: 77px;
	padding-right: 20px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	z-index: 1;
}
	.slider-item-text::before {
		position: absolute;
		left: 0;
		top: 35px;

		content: "";
		width: 100px;
		height: 7px;
		background-color: #ffffff;
	}
.slider-title {
	margin: 0;
	margin-bottom: 20px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 0.7px;
}
.slider-text {
	margin: 0;
	margin-bottom: 42px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.1px;
}
.button-details {
	min-width: 220px;
	margin-bottom: 53px;

	z-index:1;
}
.product-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}
.details-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-right: 80px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 36px;
	line-height: 43px;
	font-weight: 300;
}
	.details-item:last-child {
		margin-right: 0;
	}
.details-item span {
	margin-top: 8px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
}

/* Подкатегории каталога */

.catalog-subsections.centering-wrap {
	margin-bottom: 177px;
}
.subsection-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}
.subsection-item {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 160px;
	min-height: 245px;
	margin-right: 40px;
}
	.subsection-item:hover .catalog-subsection-title::before,
	.subsection-item:focus .catalog-subsection-title::before {
		background-color: rgba(240, 197, 46, 1);
	}
	.subsection-item:active .catalog-subsection-title::after {
		opacity: 0.3;
	}
	.subsection-item:active .catalog-subsection-title {
		color: rgba(0, 0, 0, 0.3);
	}
	.subsection-item:nth-child(6n) {
		margin-right: 0;
	}
.subsection-item-link {
	position: relative;

	min-height: 245px;
	width: 160px;	

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 800;
	color: #000;
	text-decoration: none;
}
.catalog-subsection-title {
	position: relative;

	margin: 0;
	padding-top: 195px;

	font: inherit;
}
	.catalog-subsection-title::before {
		position: absolute;
		top: 0;
		left: 0;

		content: "";
		width: 160px;
		height: 160px;
		background-color: rgba(240, 197, 46, 0.5);
	}
	.catalog-subsection-title::after {
		position: absolute;
		top: 0;
		left: 0;

		content: "";
		width: 160px;
		height: 160px;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.virtual-reality .catalog-subsection-title::after {
		background-image: url("../img/virtual.svg");	
	}
	.monopods .catalog-subsection-title::after {
		background-image: url("../img/monopods.svg");
		background-position: bottom center;	
	}
	.camera .catalog-subsection-title::after {
		background-image: url("../img/camera.svg");
	}
	.fitnes .catalog-subsection-title::after {
		background-image: url("../img/fitnes.svg");
	}
	.smart-watches .catalog-subsection-title::after {
		background-image: url("../img/smart-watches.svg");
	}
	.quadrokopters .catalog-subsection-title::after {
		background-image: url("../img/quadrokopters.svg");
	}

/* Слайдер услуги */

.services {
	position: relative;

	height: 288px;
	margin-bottom: 95px;
	background-color: #e5e5e5;
}
.services-slider-wrap {
	position: absolute;
	top: -100px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.services-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 285px;
	min-height: 318px;
	padding-top: 80px;
	padding-bottom: 70px;
	border-right: 7px solid #000;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.services-controls-item {
	width: 160px;
	margin-bottom: 24px;
}
	.services-controls-item:last-child {
		margin-bottom: 0;
	}
.button.services-controls-item:active {
	width: 100%;
	padding-left: 20px;
	background-color: #000;
	background-image: none;

	text-align: left;
	color: #f7e184;

	-webkit-animation: none;

	        animation: none;
}
.services-list {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	width: 817px;
	height: 318px;
	margin: 0;
	padding: 0;
	padding-left: 117px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	list-style: none;
}
.services-item {
	position: absolute;

	-ms-flex-negative: 0;

	    flex-shrink: 0;
	width: 700px;
	min-height: 318px;
	padding-top: 74px;
	padding-bottom: 70px;
	background-position: 99% 55%;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
	.services-item.delivery {
		background-image: url("../img/delivery.svg");
	}
	.services-item.warranty {
		background-image: url("../img/warranty.svg");
	}
	.services-item.credit {
		background-image: url("../img/credit.svg");
	}
.service-title {
	width: 460px;
	margin: 0;
	margin-bottom: 30px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 47px;
	font-weight: 800;
	letter-spacing: 1px;
}
.service-description {
	width: 460px;
	margin: 0;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	letter-spacing: 0.3px;
}

/* Блок производители */

.manufacturers {
	margin-bottom: 88px;
}
.manufacturers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0;

	list-style: none;
}
.manufacturers-item {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-right: 40px;

	-webkit-filter: grayscale(1);

	        filter: grayscale(1);
	opacity: 0.2;
}
	.manufacturers-item:hover,
	.manufacturers-item:focus {
		-webkit-filter: none;
		        filter: none;
		opacity: 1;
	}
	.manufacturers-item:last-child {
		margin-right: 0;
	}

/* Блок о нас и контакты */


.about-us-and-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 81px;
}
.in-two-columns {
	width: 560px;
	margin-right: 40px;
}
	.in-two-columns:nth-child(2n) {
		margin-right: 0;
	}
.top-underlined-title {
	position: relative;

	margin: 0;
	padding-top: 53px;
	padding-bottom: 43px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 47px;
	font-weight: 800;
	color: #000;
}
	.top-underlined-title::before {
		position: absolute;
		top: 0;
		left: 0;

		content: "";
		width: 80px;
		height: 7px;
		background-color: #000;
	}
.about-us-paragraph {
	width: 480px;
	margin: 0;
	margin-bottom: 30px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	letter-spacing: 0.1px;
}
	.about-us-paragraph:last-of-type {
		margin-bottom: 66px;
	}
.transportation-companies-list {
	margin: 0;
	margin-bottom: 55px;
	padding: 0;

	list-style: none;
}
.transporation-companies-item {
	position: relative;

	padding-left: 37px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
	color: #000;
}
	.transporation-companies-item::before {
		position: absolute;
		top: 11px;
		left: -3px;

		content: "";
		width: 18px;
		height: 18px;
		background-image: url("../img/list-style-img.svg");
		background-position: center center;
		background-repeat: no-repeat;
	}
.about-us-and-contacts .button {
	min-width: 260px;
}
.contacts-paragraph {
	margin: 0;
	margin-bottom: 40px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	letter-spacing: 0.1px;
}
.static-map {
	margin-bottom: 64px;
	cursor: pointer;
}

/* Футер */

.main-footer {
	padding: 65px 0;
	background-color: #464646;
}
.main-footer .logo-and-user-nav-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 27px;
}
.main-footer .user-nav-wrap {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.main-footer .user-navigation {
	margin: 0;
}
.footer-logo {
	display: inline-block;

	font-size: 0;

	fill: #ffc600;
}
	.footer-logo:hover,
	.footer-logo:focus {
		opacity: 0.6;
	}
	.footer-logo:active {
		opacity: 0.3;
	}
.main-footer .user-navigation {
	line-height: 27px;
}
.main-footer .user-navigation-item:first-child {
	margin-right: 38px;
}
.main-footer .user-nav-link {
	color: #fff;
	padding: 0;
	padding-left: 26px;
}
.main-footer .logout {
	color: rgba(255, 255, 255, 0.3);
}
.main-footer .login-icon {
	fill: #ffc600;
}
.main-footer .compare-icon {
	fill: #ffc600;
}
.main-footer .cart-icon {
	fill: #ffc600;
}
.navigation-and-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin-bottom: 60px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #fff;
}
.footer-address {
	width: 260px;
	margin: 0;
	margin-right: auto;
}
.footer-phone {
	width: 260px;
	margin: 0;
	margin-left: auto;

	text-align: right;
}
.footer-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin: 0;
	padding: 0;
	
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	text-transform: uppercase;

	list-style: none;
}
.footer-navigation-item {
	margin-right: 36px;
}
	.footer-navigation-item:last-of-type {
		margin-right: 0;
	}
.footer-nav-link {
	font: inherit;
	color: #fff;
	text-decoration: none;
	letter-spacing: 3.3px;
}
	.footer-nav-link:hover,
	.footer-nav-link:focus {
		opacity: 0.6;
	}
	.footer-nav-link:active {
		opacity: 0.3;
	}
.social-and-development {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
	.social-and-development::before {
		content: "";
		width: 80px;
		height: 7px;
		background-color: #ffc600;
	}
.social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	    flex-shrink: 0;	
	margin: 0 auto;
	padding: 0;

	list-style: none;
}
.social-item {
	margin-right: 20px;
}
	.social-item:last-child {
		margin-right: 0;
	}
.social-link {
	display: block;
	width: 32px;
	height: 32px;
	background-position: center center;
	background-repeat: no-repeat; 

	opacity: 0.3;
}	
	.social-link:hover,
	.social-link:focus {
		opacity: 0.6;
	}
	.social-link:active {
		opacity: 0.1;
	}
	.social-link.fb {
		background-image: url("../img/fb-icon.svg");
	}
	.social-link.insta {
		background-image: url("../img/insta-icon.svg");
	}
	.social-link.tw {
		background-image: url("../img/tw-icon.svg");
	}
.development {
	display: block;
	width: 80px;

	text-align: right;
}
	.development:hover,
	.development:focus {
		opacity: 0.6;
	}
	.development:active {
		opacity: 0.3;
	}
.academy-logo {
	fill: #ffc600;
}

/* Модальные окна */
/* Модальное окно обратной связи */

.modal.write-us {
	position: fixed;
	top: 50%;
	margin-top: -276px;
	left: 50%;
	margin-left: -480px;

	width: 960px;
	min-height: 553px;
	padding: 95px 100px 70px 100px;
	background-color: #fff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
	        box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	z-index: 20;
}
.write-us-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.form-field-label {
	display: block;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 100%;
	margin-bottom: 35px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 800;
	color: #000;
}
	.form-field-label.in-two-columns {
		width: 360px;
	}
	.form-field-label.in-two-columns:odd {
		margin-right: 40px;
	}
.form-field-label textarea {
	min-height: 156px;
	resize: none;
}
.form-field {
	width: 100%;
	margin-top: 10px;
	padding: 14px 20px;
	border: 3px solid transparent;
	background-color: #f2f2f2;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #464646;

	outline: none;
}
	.form-field:invalid {
		border-color: transparent;
		background-color: rgba(237, 181, 181, 0.5);
	}
	.form-field:hover {
		background-color: #eaeaea;
	}
	.form-field:focus {
		border: 3px solid #f0c52e;
		background-color: #fff;

		color: #464646;
	}
		.form-field:focus::-webkit-input-placeholder { 
			color: transparent; 
		}
		.form-field:focus:-ms-input-placeholder { 
			color: transparent; 
		}
		.form-field:focus::-ms-input-placeholder { 
			color: transparent; 
		}
		.form-field:focus::placeholder { 
			color: transparent; 
		}
.form-field::-webkit-input-placeholder {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	color: rgba(70, 70, 70, 0.4);
}
.form-field:-ms-input-placeholder {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	color: rgba(70, 70, 70, 0.4);
}
.form-field::-ms-input-placeholder {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	color: rgba(70, 70, 70, 0.4);
}
.form-field::placeholder {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	color: rgba(70, 70, 70, 0.4);
}
.write-us-submit {
	min-width: 200px;
}
.write-us-close {
	position: absolute;
	top: 21px;
	right: 21px;

	width: 55px;
	height: 55px;
	border: 0;
	border-radius: 50%;
	background-color: rgba(240, 197, 46, 0.5);

	cursor: pointer;
}
	.write-us-close:hover,
	.write-us-close:focus {
		background-color: rgba(240, 197, 46, 1);
	}
	.write-us-close:active {
		background-color: rgba(240, 197, 46, 0.3);
	}
	.write-us-close::before,
	.write-us-close::after {
		position: absolute;
		top: 50%;
		margin-top: -15px;
		left: 50%;
		margin-left: -1px;

		content: "";
		width: 2px;
		height: 30px;
		background-color: #fff;
	}
		.write-us-close::before{
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
		.write-us-close::after {
			-webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			        transform: rotate(45deg);
		}

/* Модальное окно карты */

.modal-map {
	position: fixed;
	top: 50%;
	margin-top: -276px;
	left: 50%;
	margin-left: -480px;

	width: 960px;
	height: 559px;
	-webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
	        box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	z-index: 20;
}
.map-close {
	position: absolute;
	top: 21px;
	right: 21px;

	width: 55px;
	height: 55px;
	border: 0;
	border-radius: 50%;
	background-color: rgba(240, 197, 46, 0.5);

	cursor: pointer;
}
	.map-close:hover,
	.map-close:focus {
		background-color: rgba(240, 197, 46, 1);
	}
	.map-close:active {
		background-color: rgba(240, 197, 46, 0.3);
	}
	.map-close::before,
	.map-close::after {
		position: absolute;
		top: 50%;
		margin-top: -15px;
		left: 50%;
		margin-left: -1px;

		content: "";
		width: 2px;
		height: 30px;
		background-color: #fff;
	}
		.map-close::before{
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
		.map-close::after {
			-webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			        transform: rotate(45deg);
		}

/* Страница каталог */

.catalog-page {
	
}
.catalog-page .main-header {
	min-height: 0;
	margin-bottom: 35px;
}
main .centering-wrap {
	margin-bottom: 46px;
}
.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.breadcrumbs-item {	
	position: relative;
}
.breadcrumbs-item + .breadcrumbs-item {
    margin-left: 15px;
    padding-left: 25px;
}
	.breadcrumbs-item + .breadcrumbs-item::before {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -2px;

		content: "";
		width: 4px;
		height: 4px;
		border: 1px solid #000;
		border-left: 0;
		border-bottom: 0;
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
.breadcrumbs-item-link {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}
	.breadcrumbs-item-link:hover,
	.breadcrumbs-item-link:focus {
		color: rgba(0, 0, 0, 0.6);
	}
	.breadcrumbs-item-link:active {
		color: rgba(0, 0, 0, 0.1);
	}
.filter-and-catalog-wrap {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
}
.section-header {
	position: absolute;
	top: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	min-height: 70px;
	background-color: rgba(0, 0, 0, 0.08);
}
.section-title.filter {
    text-align: right;

	width: 32.5%;
    padding-right: 65px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.title-width {
    display: inline-block;
    width: 200px;
    text-align: left;
}
.sort {
	padding-left: 75px;
	width: 67.5%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.inner-sort-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 760px;
}
.section-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 3.2px;

	margin: 0;
}
.sort .section-title {
	margin-right: 53px;
}
.sort-link {
	display: inline-block;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}
	.sort-link:hover,
	.sort-link:focus {
		color: rgba(0, 0, 0, 0.6);
	}
.sort-link.current {
	color: #000;
}
.sort-link + .sort-link {
	margin-left: 30px;
}
.sort-by-increase {
	margin-left: auto;
	margin-right: 20px;
    border-right: 6px solid transparent;
    border-left: 5px solid transparent;
    border-top: none;
    border-bottom: 10px solid black;
    
    font-size: 0;

    opacity: 0.2;
}
.sort-by-decrease{
	border-right: 6px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid black;
    border-bottom: none;

    font-size: 0;

    opacity: 0.2;
}
	.sort-by-increase:hover,
	.sort-by-increase:focus,
	.sort-by-decrease:hover,
	.sort-by-decrease:focus {
		opacity: 0.4;
	}
	.sort-by-increase:active,
	.sort-by-decrease:active {
		opacity: 1;
	}
.sort .active {
	opacity: 1;
}
.catalog-filter {
	width: 32.5%;
	padding-top: 70px;
	background-color: #eeeeee;
}
.filter-form {
	width: 201px;
	padding-top: 70px;
	padding-right: 66px;
	margin-left: auto;
}
.filter-form-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 0;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;
	color: #000;
}
.filter-form-group legend {
	display: block;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 8px;
	border-top: 2px solid #000;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.18px;
}
.filter-form-group.range-filter {
	margin-bottom: 50px;
}
.filter-form-group.range-filter legend {
	margin-bottom: 23px;
}
.filter-field-label {
	position: relative;

	display: inline-block;
	padding-left: 39px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;

	cursor: pointer;
}
.range-line	{
	position: relative;

	width: 100%;
	height: 2px;
	margin-bottom: 18px;
	background-color: #dbdbdb;
}
.range-value {
	position: absolute;
	left: 0;

	width: 110px;
	height: 2px;
	background-color: #91c92f;
}
.range-toddler-wrap {
	position: absolute;
	top: -9px;
	left: -5px;

	display: inline-block;
	vertical-align: middle;
	margin: 0;

	z-index: 1;
}
.range-toddler-wrap.max-value {
	left: 108px;
}
.range-toddler {
	position: relative;

	display: block;
	width: 20px;
	height: 23px;
	border: 0;
	border-radius: 50%;
	background-color: transparent;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-size: contain;

	cursor: pointer;
	outline: none;
}
.range-toddler-wrap label {
	position: absolute;
    left: 0;
    top: 20px;

	display: block;
	min-width: 100px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.2);
}
.range-toddler-wrap.max-value label {
	position: absolute;
    left: 0;
    top: 20px;
    margin-left: -18px;
}
.range-price-field {
	width: 60px;
	border: 0;
	background-color: transparent;

	font: inherit;
	color: rgba(0, 0, 0, 0.2);
}
.filter-checkbox + .filter-field-label::before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -12px;

	width: 27px;
	height: 23px;

	content: "";
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}
.filter-checkbox:checked + .filter-field-label::before {
	background-image: url("../img/checkbox-on.svg");
}
	.filter-checkbox + .filter-field-label:hover::before,
	.filter-checkbox + .filter-field-label:focus::before,
	.filter-checkbox:checked + .filter-field-label:hover::before,
	.filter-checkbox:checked + .filter-field-label:focus::before {
		opacity: 0.6;
	}
	.filter-checkbox + .filter-field-label:active::before {
		background-image: url("../img/checkbox-on.svg");
	}
	.filter-checkbox:checked + .filter-field-label:active::before {
		background-image: url("../img/checkbox-off.svg");
	}
	.filter-checkbox:disabled + .filter-field-label::before,
	.filter-checkbox:checked:disabled + .filter-field-label::before {
		opacity: 0.25;
	}
.filter-radio + .filter-field-label::before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -13px;

	content: "";
	width: 25px;
	height: 25px;
	border: 4px solid #000;
	border-radius: 50%;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}
.filter-radio + .filter-field-label::after {
	display: none;

	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 8px;

	content: "";
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #000;
}
	.filter-radio + .filter-field-label:hover::after,
	.filter-radio + .filter-field-label:focus::after,
	.filter-radio + .filter-field-label:hover::before,
	.filter-radio + .filter-field-label:focus::before {
		opacity: 0.6;
	}
	.filter-radio:active + .filter-field-label::after {
		display: block;
	}
.filter-radio:checked + .filter-field-label::after {
	display: block;
}
	.filter-radio:checked + .filter-field-label:active::after {
		display: none;
	}
	.filter-radio:disabled + .filter-field-label:hover::after,
	.filter-radio:disabled + .filter-field-label:focus::before {
		opacity: 0.25;
	}
.submit-filter-form {
	width: 100%;
}
/* Список-каталог */
.catalog {
	width: 833px;
	margin-bottom: 77px;
	padding-top: 70px;
	padding-left: 73px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
}
.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	padding-top: 23px;
	list-style: none;
}
.catalog-item {
	position: relative;
	width: 360px;
	margin-top: 47px;
}
.new::before {
	position: absolute;
    top: 27px;
    right: 26px;

    width: 60px;
    height: 60px;
    padding-top: 18px;
	content: "NEW";
	border-radius: 50%;
	border: 2px solid #000;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 800;
    text-align: center;

    opacity: 0.1;
}
.catalog-item-image {
	margin-bottom: 27px;
}
.catalog-item-name {
	position: relative;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.14px;

	margin: 0;
}
.catalog-item-link {
	display: inline-block;
	vertical-align: top;
	width: 255px;

	font: inherit;
	font-weight: 800;
	text-decoration: none;
	color: #000;
}
.catalog-item-price {
	position: absolute;
	right: 0;
	display: inline-block;
	vertical-align: top;

	font-size: 16px;
	font-weight: 300;
	color: #464646;
	text-align: right;
}
.catalog-item-hover {
	position: absolute;
	top: 0;

	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.7);
	cursor: pointer;
}
	.catalog-item:hover .catalog-item-hover,
	.catalog-item:focus .catalog-item-hover {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.catalog-item-link:hover + .catalog-item-hover,
	.catalog-item-link:focus + .catalog-item-hover {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
.catalog-item-button {
	min-width: 200px;
	margin-top: 30px;
}
	.catalog-item-button:active {
		display: block;
	}
.catalog-item-compare {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
}
	.catalog-item-compare:hover,
	.catalog-item-compare:focus {
		color: #000;
	}
	.catalog-item-compare:active {
		color: rgba(0, 0, 0, 0.2);
	}
.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.08);

	list-style: none;
}
.pagination-item:first-of-type {
	margin-right: auto;
}
.pagination-item:last-of-type {
	margin-left: auto;
}
.pagination-button {
	display: block;
	padding: 23px 30px;
	margin: 0;
	border: 0;
	background-color: transparent;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3.2px;
	text-transform: uppercase;

	cursor: pointer;
}
	.pagination-button:hover,
	.pagination-button:focus {
		background-color: rgba(0, 0, 0, 0.08);
	}
	.pagination-button:active {
		color: rgba(0, 0, 0, 0.3);
	}
.pagination-item-link {
	display: block;
	padding: 8px 15px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}
	.pagination-item-link:hover,
	.pagination-item-link:focus {
		color: rgba(0, 0, 0, 0.6);
	}
	.pagination-item-link:active {
		color: #000;
	}
.pagination-item .current {
	color: #000;
}
.main-footer .user-nav-wrap {
	margin-right: 32px;
}
.main-footer .user-link {
	color: #fff;
}

.hidden {
	display: none;
}